////////////////////


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    /*justify-content: space-between;*/
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    /*    justify-content: space-between;
*/
}

#formSection {
    flex: 2;
    padding: 20px;
    border: 1px solid #ccc;
    overflow-y: auto;
}

.patients-list, #illnessesandvaccins {
    flex: 3;
    padding: 20px;
    border: 1px solid #ccc;
    overflow-y: auto;
}

/*.patients-list {*/
    /*width: 55%;*/
    /*max-height: calc(100vh - 100px);*/
    /*margin-right: 60px;*/
/*}*/

/*.patients-list::-webkit-scrollbar {
    width: 10px; 
}
*/
.patients-list::-webkit-scrollbar-thumb {
    background-color: #888; 
}

.patients-list::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

h1, h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
