body {
    margin: 0;
    padding: 0;
    font-family: Arial, Consolas;
    display: flex;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 100vh;
}

#formSection, #addIllnessesandvaccins, #illnessesandvaccins {
    flex: 2;
    padding: 20px;
    border: 1px solid #ccc;
    overflow-y: auto;
}

.patients-list {
    flex: 3;
    padding: 20px;
    border: 1px solid #ccc;
    overflow-y: auto;
}

.patients-list::-webkit-scrollbar-thumb {
    background-color: #888; 
}

.patients-list::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

.imageContainer {
    height: 50%;
    width: 50%;
    margin-right: 100px;
    margin-left: 100px;
}

h1, h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #321863;
    color: #fff;
    border: none;
    cursor: pointer;
}

#statisticsBtn {
    background-color: #ff0000;
    color: #000000;
}

button:hover {
    background-color: #0056b3;
}
